<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Saída - SGE</title>
</head>
<body>
    <div class="container">
        <p><h3>Nova saída registrada no SGE!</h3></p><br>
        <p>Produto: <strong>{{ product }}</strong></p>
        <p>Quantidade: <strong>{{ quantity }}</strong></p>
        <p>Valor da venda: <strong>R$ {{ total_value }}</strong></p>
        <p>Lucro com a venda: <strong>R$ {{ profit_value }}</strong></p>
        <br><br>
        <p>
            Atenciosamente, <br>
            Sistema de Gestão de Estoque (SGE)
        </p>
    </div>
</body>
</html>